<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<div class="container">
    <th:block th:each="user : ${users}">
        <div class="card">
            <h2 th:text="${user.name}">Name</h2>
            <h2 th:text="${user.surname}">Surname</h2>
            <p><strong>age:</strong> <span th:text="${user.age}">Age</span></p>
            <p><strong>email:</strong> <span th:text="${user.email}">email</span></p>
            <p><strong>phone:</strong> <span th:text="${user.phone}">email</span></p>
            <p><strong>address:</strong> <span th:text="${user.address}">email</span></p>
        </div>
    </th:block>
</div>

</body>
</html>